*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #003459;
    min-width: 1000px;

}

a {
  color: inherit;
}

.t_0 {
  transition: none !important;
  min-width: 25rem !important;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.u-padding-top-medium4 {
  padding-top: 4rem;
}

.u-padding-top-medium {
  padding-top: 6rem;
}

.u-padding-top-large {
  padding-top: 8rem;
}

.u-padding-top-larger {
  padding-top: 10rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 6rem;
}

.u-margin-top-large {
  margin-top: 8rem;
}

.u-margin-bottom-1 {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-bottom-7 {
  margin-bottom: 7rem;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-9 {
  margin-bottom: 9rem;
}

.u-margin-bottom-10 {
  margin-bottom: 10rem;
}

.u-center-text {
  text-align: center;
}

.u-center-item {
  display: flex;
  justify-content: center;
}

.underline {
  height: 0.3rem;
  margin-bottom: 1.4rem;
  background-color: rgb(52, 75, 75);
  margin-left: auto;
  margin-right: auto;
}

.heading-primary {
  transition: all 0.3s;
  color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.8), #2998ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading-primary:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 2rem;
  justify-content: center;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(to right, #42C2FF, #85F4FF);
  transition: all 0.2s;
  -webkit-background-clip: text;
  background-clip: text;
  /* display: inline-block; */
}

.heading-secondary:hover {
  transform: scale(1.04);
  transition: all 0.2s;
}

.heading-2 {
  font-size: 5rem;
  color: #003459;
  transition: all 0.3s;
  display: inline-block;
  letter-spacing: 0.7rem;
}

.heading-2:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.btn,
.btn:link,
.btn:visited {
  padding: 1.2rem 2.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.15s;
  text-decoration: none;
  letter-spacing: 0.4rem;
  display: inline-block;
  background-color: #ffffff;
}

.btn-r {
  border-radius: 1rem;
}

.btn_color-blue {
  background-color: rgba(12, 13, 88, 0.9921568627) !important;
  color: #ffffff;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scale(2.8);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: #777;
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-i {
  transform: skew(-25deg);
}

.btn-i span {
  display: inline-block;
  transform: skew(25deg);
}

.btn-i:hover {
  transform: translateY(-0.2rem) skew(-25deg);
}

.btn-i:hover::after {
  transform: scale(2.8);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: #777;
}

.btn-i:active {
  transform: translateY(0.1rem) skew(-25deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #eb0606;
}

.nav-btn {
  margin-left: 20px;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #243763;
}

.nav-btn:hover {
  background-color: #03045e;
  color: #caf0f8;
  transition: all 0.3s ease 0s;
}

.nav-btn:active {
  top: -1rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 41rem;
  width: 41rem;
}

.card__side {
  height: 41rem;
  font-size: 2rem;
  border-radius: 50%;
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #85F4FF, #42C2FF);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  padding-top: 5rem;
}

.card__cta_text-1 {
  color: #fff;
}

.card__cta_text-2 {
  color: rgb(255, 255, 255);
}

.card__cta_btn {
  margin-top: 20%;
}

.card2 {
  width: 28.5rem;
  height: 30rem;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.15);
}

.card2__content_1 {
  overflow: hidden;
  background-color: aliceblue;
  position: relative;
  transition: all 0.3s;
  border-radius: 1rem;
  height: 18rem;
}

.card2__content_1-img {
  border-radius: 1rem;
  height: inherit;
  transition: all 5s ease-in-out;
}

.card2__content_1-img img {
  position: center bottom;
  width: 28.5rem;
  height: 16.6rem;
  transform: scale(1.1) translate(2%, 4.5%);
  border-radius: 1rem;
  transition: all 0.5s;
}

.card2__content_1-text {
  display: grid;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  transition: 0.5s;
}

.card2__content_1-text a {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgba(143, 198, 226, 0.8);
  color: rgba(253, 253, 253, 0.9647058824);
  background-color: rgba(150, 150, 137, 0.582);
  padding: 0rem 0.8rem;
  transition: 0.3s;
  border-radius: 0.6rem;
}

.card2__content_1-text a:not(:last-child) {
  margin-bottom: 1.8rem;
}

.card2__content_1-text a:hover {
  background-color: #999;
}

.card2__content_1:hover img {
  filter: blur(1.5px);
  transform: scale(1.25) translate(2%, 4.5%);
  transition: all 0.5s;
}

.card2__content_1:hover .card2__content_1-text {
  opacity: 1;
  transform: translate(-50%, -20%);
  transition: all 0.5s;
}

.card2__content_2 {
  margin-top: 4rem;
}

.card2__content_2-heading {
  font-size: 2.2rem;
  letter-spacing: 0.18rem;
  display: inline-block;
}

.card2__content_2-tech {
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 1rem;
}

.card2__content_2-tech h5 {
  padding: 0rem 0.6rem;
  border-radius: 0.6rem;
  line-height: normal;
  background-color: rgba(203, 213, 225, 0.8);
  transition: all 0.2s;
  display: inline-block;
}

.card2__content_2-tech h5:not(:last-child) {
  margin-right: 1rem;
}

.card2:hover {
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
}

.education {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0rem 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 4rem 5rem 4rem 9rem;
  font-size: 1.6rem;
  transform: skewX(12deg);
  display: flex;
  gap: 3rem;
}

.education>* {
  transform: skewX(-12deg);
}

.education__shape {
  width: 15rem;
  position: relative;
  transform: skewX(-12deg);
  border-radius: 15rem;
}

.education__img {
  height: 100%;
  transition: all 0.5s;
  transform: translateX(-0.2rem) scale(1.2);
}

.education__text {
  height: 85%;
  margin: auto 0;
  transform: skewX(-12deg);
}

.education__caption {
  width: 10rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 170%);
  background-color: rgba(143, 143, 123, 0.356);
  color: rgba(253, 253, 253, 0.8823529412);
  font-weight: 900;
  backface-visibility: hidden;
  opacity: hidden;
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
}

.education:hover .education__caption {
  opacity: 1;
  transform: translate(-47%, -20%);
}

.education:hover .education__img {
  transform: translate(-0.2rem) scale(1);
  filter: blur(0.1rem);
  transition: all 0.5s;
}

.tool1__img {
  display: inline-flex;
  transition: all 0.2s;
}

.tool1__img:not(:last-child) {
  margin-right: 2rem;
}

.tool1__img-1 {
  position: absolute !important;
  transition: all 0.2s;
}

.tool1__img-2 {
  opacity: 0;
  transition: all 0.2s;
}

.tool1__img:hover .tool1__img-1 {
  opacity: 0;
  transition: all 0.2s;
}

.tool1__img:hover .tool1__img-2 {
  opacity: 1;
  transition: all 0.2s;
}

.website-icon img {
  transform: translateY(0.45rem);
  cursor: pointer;
  width: 2.8rem;
  transition: all 0.2s;
}

.website-icon :hover {
  transform: translateY(0.45rem) scale(1.25);
  transition: all 0.2s;
}

.profile-pic {
  height: 41rem;
  border-radius: 70%;
  border: 0rem solid #9696e5;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #85F4FF, #42C2FF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.form__input {
  align-items: center;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: none;
  border-bottom: 3px solid transparent;
  width: 40%;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid gray;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown+.form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.input_message {
  height: 10rem;
}

.top-news {
  background: linear-gradient(164deg, rgb(123, 134, 232) 0%, rgb(246, 140, 255) 52%, rgb(255, 222, 50) 100%);
  min-height: 0vh;
  position: sticky;
  text-align: center;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.98);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 10%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-weight: bolder;
  margin-right: auto;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s;
}

.logo:hover {
  color: #e46e0f;
  transition: all 0.3s;
}

.nevbar__links {
  list-style-type: none;
}

.nevbar__links li {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
}

.nevbar__links a {
  transition: all 0.3s ease 0s;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 1rem 0rem;
}

.nevbar__links a:hover {
  background-color: #03045e;
  color: #e46e0f;
  transition: all 0.15s;
}

.nevbar__links a:active {
  top: 0.1rem;
}

.nevbar__dropdown {
  display: inline-block;
  position: relative;
}

.nevbar__dropdown_bropbtn {
  display: inline-block;
  position: relative;
  line-height: normal;
}

.nevbar__dropdown_dropcontent {
  display: none;
  position: absolute;
  background-color: #fff;
  left: -5rem;
  min-width: 160px;
  box-shadow: 0px 6px 16px 0px rgba(17, 123, 185, 0.856);
}

.nevbar__dropdown_dropcontent a {
  padding: 2rem 4rem;
  text-decoration: none;
  display: block;
  width: 13rem;
  text-align: center;
  margin: 0;
}

.nevbar__dropdown:hover .nevbar__dropdown_dropcontent {
  display: block;
}

.row {
  max-width: 70%;
  display: flex;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  width: 47.2%;
}

.col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-3 {
  width: 30.5333333333%;
  background-color: aquamarine;
}

.col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-4 {
  width: 22.2%;
}

.col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.home {
  min-height: 70rem;
  position: relative;
  transition: all 0.2s;
}

.home__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.home__text-name {
  background-color: #42C2FF;
  display: inline-block;
  width: 0%;
  transition: all 0.5s;
}

.home__text h1 {
  font-size: 10rem;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: 2rem;
}

.home__text h2 {
  font-size: 3rem;
  padding-left: 1rem;
  color: #42C2FF;
}

.home__text h3 {
  font-size: 6rem;
  color: #e2cc09;
}

.home__text h4 {
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-left: 0.7rem;
}

.home__text h4 strong {
  color: #eb0606;
}

.home__text p {
  font-size: 2rem;
  padding-left: 0.7rem;
  padding-top: 1.8rem;
}

.home__contact {
  display: inline-flex;
}

.home__contact-1 {
  margin-right: 5rem;
}

.home__contact-2 {
  display: block;
}

.home__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-28%, -50%);
  transition: all 0.2s;
}

.project {
  width: 100%;
  padding: 3rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.about {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.about__img img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about__text {
  padding-bottom: 10rem;
}

.about__text_title {
  font-size: 3rem;
  color: #003459;
}

.about__text p {
  font-size: 2rem;
  color: #324d67;
}

footer {
  background-color: #030427;
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  padding-bottom: 1.8rem;
}

.link:link,
.link:visited {
  color: #f7f7f7;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  color: #42C2FF;
}

.link2:hover {
  background-color: #333;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
}

.section-home {
  background-color: #eaf0f5;
  backdrop-filter: blur(10%);
  padding: 2rem 0rem;
}

.section-education {
  padding: 8rem 0 12rem 0;
}

.section-project {
  background-color: #eaf0f5;
  padding: 8rem 0;
}

.section-about {
  padding: 8rem 0;
}

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to left top, #fff, rgba(153, 153, 153, 0.25));
}

.contact {
  background-image: linear-gradient(to right bottom, rgba(66, 194, 255, 0.1) 50%, rgba(153, 153, 153, 0.5) 100%, transparent 55%), url(/img/contact.jpg) !important;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  height: 54rem;
  width: 114rem;
  margin: 0 auto;
  text-align: center;
}

.contact:hover {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
